{{#if hasLineNumbers}}
  <ul class='ember-highlight-line-numbers'>
    {{#each lineNumbers as |number|}}
      <li>{{unbound number}}</li>
    {{/each}}
  </ul>
{{/if}}
<pre>
  {{{highlight}}}
</pre>
