<!-- Begin page content -->
<div class="container">
  <h2 id="title">ember-highlight-js demo</h2>

  <label>Language: {{view 'select' content=languages value=language}}</label>
  <label>hasLineNumbers: {{input type="checkbox" checked=hasLineNumbers}}</label>
  {{highlight-js code=file lang=language hasLineNumbers=hasLineNumbers}}

  {{textarea value=file}}
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted">
      <div class="copyright pull-left">© 2014 Ryan Tablada</div>
      <div class="attribution pull-right">a <a href="http://ryantablada.com">Ryan Tablada</a> jam</div>
    </p>
  </div>
</div>
