<!-- Begin page content -->
<div class="container">
  {{outlet}}
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted">
      <div class="copyright pull-left">© 2014 Ryan Tablada</div>
      <div class="attribution pull-right">a <a href="http://ryantablada.com">Ryan Tablada</a> jam</div>
    </p>
  </div>
</div>
