<div class="row">
  <div class="page-header">
    <h1>eg-code-highlight</h1>
  </div>

  <p class="lead">A quick and easy to use code highlighting component for Ember using <a href="https://highlightjs.org/">highlight.js</a>.</p>
</div>

<div class="row">
  <h2>Installation</h2>

  <p>To install <code>eg-code-highlight</code> simply run <code>npm install ember-cli-eg-code-highlight --save-dev</code>.</p>
</div>

<div class="row">
  <h2>Use</h2>

  <p>
    Using <code>eg-code-highlight</code> is incredibly easy!
    The <code>eg-code-highlight</code> component takes too arguments: <code>code</code> and <code>language</code>.
    To create this, in your template you can do this.

    {{eg-code-highlight code=codeHighlightExample language='hbs'}}
  </p>

  <p>
    This works for multiple languages, the controller for this example is:

    {{eg-code-highlight code=controllerCode language='js'}}
  </p>
</div>
